.my-movies-container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

:host ::ng-deep .p-card {
  height: 100%;
}

:host ::ng-deep .p-card-content {
  padding-bottom: 0;
}

.object-cover {
  object-fit: cover;
}
