<!-- The card container for the movie -->
<div class="movie-card" tooltipPosition="top">
  <div
    class="movie-poster"
    (mouseover)="showDetails = true"
    (mouseleave)="showDetails = false"
  >
    <img [src]="movie.imageUrl" alt="{{ movie.title }} poster" />
    <div class="movie-details" *ngIf="showDetails">
      <div class="details-content">
        <h2>
          {{ movie.title }}
          <span>({{ movie.year }})</span> -
          <span class="rating">{{ movie.rating }}</span>
        </h2>
        <div class="info-bar">
          <span class="age-rating">{{ movie.ageRating }}</span>
          <span class="genre">{{ movie.genre }}</span>
          <span class="runtime">{{ movie.duration }}m</span>
        </div>
        <p>{{ shortDescription }}</p>
        <p><strong>Actors:</strong> {{ movie.actors.join(", ") }}</p>
        <p><strong>Director:</strong> {{ movie.director }}</p>
      </div>
      <div class="buttons">
        <ng-container *ngIf="!isAdmin">
          <button
            pButton
            type="button"
            label="Watch Trailer"
            icon="pi pi-play"
            (click)="watchTrailer()"
          ></button>
          <button
            pButton
            type="button"
            label="Buy Ticket"
            icon="pi pi-ticket"
            (click)="buyTicket()"
          ></button>
        </ng-container>

        <ng-container *ngIf="isAdmin">
          <button
            pButton
            type="button"
            label="{{
              movie.nowPlaying ? 'Remove from cinemas' : 'Put back in cinemas'
            }}"
            icon="pi pi-sync"
            class="p-button-danger"
            (click)="onToggle()"
          ></button>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<p-dialog
  header="{{ movie.title }} - Trailer"
  [(visible)]="showTrailerDialog"
  modal="true"
  appendTo="body"
  [style]="{
    width: '1200px',
    height: 'auto',
    margin: 'auto'
  }"
  [baseZIndex]="10000"
  [dismissableMask]="true"
>
  <ng-template pTemplate="content">
    <div class="trailer-container">
      <iframe
        [src]="getSanitizedTrailerUrl()"
        frameborder="0"
        allowfullscreen
      ></iframe>
    </div>
  </ng-template>
</p-dialog>
