<div class="movie_card shadow-8">
  <div
    class="blur_back"
    [ngStyle]="{
      'background-image':
        'url(https://image.tmdb.org/t/p/w1280' + movie.backdrop_path + ')'
    }"
  ></div>
  <div class="info_section p-d-flex p-flex-column p-p-3">
    <div class="movie_header p-d-flex">
      <img
        class="locandina"
        [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
        alt="Movie Poster"
      />
      <div class="movie_info p-pl-3">
        <h1>{{ movie.title ? movie.title : movie.name }}</h1>
        <h4>
          {{ movie.release_date ? movie.release_date : movie.first_air_date }},
          {{ movie.director }}
        </h4>
        <span class="minutes p-tag p-tag-rounded p-tag-secondary"
          >{{ movie.duration }} min</span
        >
        <p class="type p-mt-2">{{ movie.genres }}</p>
      </div>
    </div>
    <div class="movie_desc p-mt-3">
      <p class="text">{{ movie.overview }}</p>
    </div>
    <div class="movie_social p-mt-3">
      <ul class="p-d-flex">
        <li><i class="pi pi-share-alt p-pr-3"></i></li>
        <li><i class="pi pi-heart p-pr-3"></i></li>
        <li><i class="pi pi-comments"></i></li>
      </ul>
    </div>
  </div>
</div>
