.movie_card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 850px;
  margin: 40px auto;
  border-radius: 15px;
  overflow: hidden;
  background-color: var(--surface-card);
  box-shadow: 0px 0px 40px -15px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s, box-shadow 0.3s;
}

.movie_card:hover {
  transform: scale(1.03);
  box-shadow: 0px 0px 60px -20px rgba(0, 0, 0, 0.7);
}

.blur_back {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  filter: blur(2px);
  opacity: 0.6;
  z-index: 0;
}

.info_section {
  position: relative;
  z-index: 2;
  color: var(--text-color);
  padding: 20px;
  backdrop-filter: blur(2px); /* To give a frosted glass effect */
}

.movie_header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.locandina {
  width: 120px;
  height: 180px;
  object-fit: cover;
  box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.movie_info {
  padding-left: 20px;
  max-width: calc(100% - 140px);
}

.movie_info h1 {
  font-size: 2rem;
  margin: 0;
  font-weight: bold;
}

.movie_info h4 {
  font-size: 1.2rem;
  color: var(--text-secondary-color);
  margin: 10px 0;
}

.minutes {
  font-size: 1rem;
  padding: 8px 12px;
  margin-top: 10px;
}

.type {
  font-size: 1rem;
  color: var(--text-secondary-color);
  margin-top: 5px;
}

.movie_desc {
  margin-top: 20px;
  color: var(--text-color-secondary);
  font-size: 1rem;
  line-height: 1.6;
}

.movie_social {
  margin-top: 25px;
}

.movie_social ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.movie_social li {
  color: var(--text-secondary-color);
  cursor: pointer;
  transition: color 0.3s;
}

.movie_social li:hover {
  color: var(--primary-color);
}

@media screen and (max-width: 768px) {
  .movie_card {
    width: 95%;
  }

  .movie_header {
    flex-direction: column;
    align-items: center;
  }

  .locandina {
    width: 150px;
    height: 225px;
    margin-bottom: 15px;
  }

  .movie_info {
    padding-left: 0;
    text-align: center;
    max-width: 100%;
  }

  .movie_info h1 {
    font-size: 1.7rem;
  }

  .movie_info h4 {
    font-size: 1rem;
  }

  .minutes {
    font-size: 0.9rem;
  }

  .movie_desc {
    text-align: center;
  }
}
