<div class="movie_card p-shadow-4">
  <div
    class="blur_back"
    [ngStyle]="{ 'background-image': 'url(' + movie.background + ')' }"
  ></div>
  <div class="info_section p-d-flex p-flex-column p-p-3">
    <div class="movie_header p-d-flex">
      <img class="locandina" [src]="movie.poster" alt="Movie Poster" />
      <div class="movie_info p-pl-3">
        <h1>{{ movie.title }}</h1>
        <h4>{{ movie.year }}, {{ movie.director }}</h4>
        <span class="minutes p-tag p-tag-rounded p-tag-secondary"
          >{{ movie.duration }} min</span
        >
        <p class="type p-mt-2">{{ movie.genres }}</p>
      </div>
    </div>
    <div class="movie_desc p-mt-3">
      <p class="text">{{ movie.description }}</p>
    </div>
    <div class="movie_social p-mt-3">
      <ul class="p-d-flex">
        <li><i class="pi pi-share-alt p-pr-3"></i></li>
        <li><i class="pi pi-heart p-pr-3"></i></li>
        <li><i class="pi pi-comments"></i></li>
      </ul>
    </div>
  </div>
</div>
