<div class="flex justify-content-center">
  <div class="grid w-5 p-4 surface-card border-round justify-content-center">
    <div class="field">
      <label for="firstname" class="block mb-2 font-medium text-lg"
        >Firstname</label
      >
      <input
        id="firstname"
        [(ngModel)]="signupForm.firstname"
        type="text"
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-30rem"
      />
    </div>
    <div class="field">
      <label for="lastname" class="block mb-2 font-medium text-lg"
        >Lastname</label
      >
      <input
        id="lastname"
        [(ngModel)]="signupForm.lastname"
        type="text"
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-30rem"
      />
    </div>
    <div class="field">
      <label for="dob" class="block mb-2 font-medium text-lg"
        >Date of Birth</label
      >
      <input
        id="dob"
        [(ngModel)]="signupForm.dob"
        type="date"
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-30rem"
      />
    </div>
    <div class="field">
      <label for="email" class="block mb-2 font-medium text-lg">Email</label>
      <input
        id="email"
        [(ngModel)]="signupForm.email"
        type="email"
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-30rem"
      />
    </div>
    <div class="field">
      <label for="password" class="block mb-2 font-medium text-lg"
        >Password</label
      >
      <p-password
        id="password"
        [(ngModel)]="signupForm.password"
        [feedback]="true"
        [toggleMask]="true"
        class="w-full"
        inputStyleClass="text-base text-color surface-overlay p-2 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-30rem"
      ></p-password>
    </div>
    <div class="field">
      <label for="confirmPassword" class="block mb-2 font-medium text-lg"
        >Confirm Password</label
      >
      <p-password
        [(ngModel)]="signupForm.confirmPassword"
        inputStyleClass="text-base text-color surface-overlay p-2 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-30rem"
      >
        <ng-template pTemplate="header">
          <h6>Pick a password</h6>
        </ng-template>
      </p-password>
    </div>
    <div class="mt-4">
      <button
        type="submit"
        class="p-button w-full p-3 border-round"
        (click)="onSubmit()"
      >
        Sign Up
      </button>
    </div>
  </div>
</div>
