<div
  class="grid movie-container"
  [ngStyle]="{
    'background-image':
      'linear-gradient(to right, ' +
      blackBarsColor +
      ' 0%, ' +
      blackBarsColor +
      ' 15%, ' +
      blackBarsColor +
      ' 16%, rgba(0, 0, 0, 0) 100%), url(https://image.tmdb.org/t/p/w1280' +
      movie.backdrop_path +
      ')',
    'background-color': blackBarsColor
  }"
>
  <!-- Movie Poster and Main Info Section -->
  <div class="col-3">
    <!-- Poster Image -->
    <img
      [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
      alt="Movie Poster"
      class="movie-poster"
    />
  </div>
  <div class="col-9 movie-info">
    <h1 class="movie-title mt-0">{{ movie.title }}</h1>
    <p class="movie-meta">
      {{ movie.release_date }} |
      <span *ngFor="let genre of movie.genres; let last = last"
        >{{ genre.name }}<span *ngIf="!last">, </span></span
      >
      | {{ movie.runtime }}m
    </p>
    @if (director.length > 0) {
    <p><strong>Director:</strong> {{ director[0].name }}</p>
    }

    <!-- Movie Overview -->
    <p class="movie-overview">
      {{ movie.tagline }}
    </p>

    <p class="movie-description">
      {{ movie.overview }}
    </p>

    <!-- User Score Section -->
    <div class="user-score-section">
      <span class="chip chip-success">{{ movie.vote_average }}</span>
    </div>

    <!-- Buttons -->
    <div class="button-section mt-3">
      <button
        pButton
        label="Play Trailer"
        icon="pi pi-play"
        class="p-button-primary"
      ></button>
      <button
        pButton
        label="Add to Favorites"
        icon="pi pi-heart"
        class="p-button-outlined ml-2"
      ></button>
    </div>
  </div>
</div>
