<p-card class="movie-card">
  <div class="content-wrapper">
    <!-- Movie Header Section -->
    <div
      class="movie-container"
      [ngStyle]="{
        'background-image':
          'linear-gradient(to right, rgba(31, 31, 31, 0.95) 150px, rgba(31, 31, 31, 0.84) 100%), url(https://image.tmdb.org/t/p/w1280' +
          movie.backdrop_path +
          ')',
        'background-size': 'cover',
        'background-position': 'center',
        'background-repeat': 'no-repeat'
      }"
    >
      <!-- Movie Poster and Main Info Section -->
      <div class="movie-content">
        <div class="movie-poster-container">
          <!-- Poster Image -->
          <img
            [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
            alt="Movie Poster"
            class="movie-poster"
          />
        </div>
        <div class="movie-info">
          <h1 class="movie-title mt-0">{{ movie.title }}</h1>
          <p class="movie-meta">
            {{ movie.release_date }} |
            <span *ngFor="let genre of movie.genres; let last = last"
              >{{ genre.name }}<span *ngIf="!last">, </span></span
            >
            | {{ movie.runtime }}m
          </p>
          <p *ngIf="director.length > 0">
            <strong>Director:</strong> {{ director[0].name }}
          </p>

          <!-- Movie Overview -->
          <p class="movie-overview">{{ movie.tagline }}</p>

          <p class="movie-description">{{ movie.overview }}</p>

          <!-- User Score Section -->
          <div class="user-score-section mt-3">
            <div class="user-score-container flex align-items-center">
              <span class="score-label mr-2">User Score</span>
              <p-chip
                label="{{ getVotePercentage(movie.vote_average) + '%' }}"
                class="custom-chip"
                styleClass="p-chip-lg flex align-items-center justify-content-center"
              ></p-chip>
            </div>
          </div>

          <!-- Buttons -->
          <div class="button-section mt-3">
            <button
              pButton
              label="Play Trailer"
              icon="pi pi-play"
              class="p-button-primary"
            ></button>
            <button
              pButton
              label="Add to Favorites"
              icon="pi pi-heart"
              class="p-button-outlined ml-2"
            ></button>
          </div>
        </div>
      </div>
    </div>

    <!-- Movie Financial Info -->
    <div class="movie-financial-info mt-4">
      <div class="grid align-center justify-center financial-container">
        <div class="col-6 text-center">
          <p-card class="financial-card">
            <p>
              <i
                class="pi pi-dollar"
                style="font-size: 2rem; color: #2196f3"
              ></i>
            </p>
            <p><strong>Budget:</strong></p>
            <p>{{ formatNumber(movie.budget) }}</p>
          </p-card>
        </div>
        <div class="col-6 text-center">
          <p-card class="financial-card">
            <p>
              <i
                class="pi pi-chart-line"
                style="font-size: 2rem; color: #4caf50"
              ></i>
            </p>
            <p><strong>Revenue:</strong></p>
            <p>{{ formatNumber(movie.revenue) }}</p>
          </p-card>
        </div>
      </div>
    </div>

    <!-- Actors Section -->
    <h2 class="mt-4">Cast</h2>
    <div class="carousel-container">
      <p-carousel
        [value]="actors"
        [numVisible]="7"
        [numScroll]="1"
        [circular]="true"
        class="custom-carousel"
        [responsiveOptions]="[]"
        [showIndicators]="false"
        [showNavigators]="true"
        previousIcon="pi pi-angle-left"
        nextIcon="pi pi-angle-right"
      >
        <ng-template pTemplate="item" let-actor>
          <div class="actor-card">
            <div class="actor-image-container">
              <img
                pImage
                [src]="
                  actor.profile_path
                    ? 'https://image.tmdb.org/t/p/w185' + actor.profile_path
                    : 'assets/placeholder.png'
                "
                alt="{{ actor.name }}"
                class="actor-image"
              />
            </div>
            <div class="actor-details">
              <div class="actor-name" [title]="actor.name">
                {{ actor.name }}
              </div>
              <div class="character-name" [title]="actor.character">
                {{ actor.character }}
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
    <div class="mt-3 text-center">
      <button
        pButton
        label="Get Full Cast"
        icon="pi pi-users"
        class="p-button-outlined"
        (click)="showFullCastDialog()"
      ></button>
    </div>

    <!-- Full Cast Dialog -->
    <p-dialog
      header="Full Cast"
      [(visible)]="isFullCastDialogVisible"
      [modal]="true"
      [style]="{ width: '75vw' }"
      [closable]="true"
      [dismissableMask]="true"
    >
      <div class="grid">
        <div
          class="col-12 sm:col-6 md:col-4 lg:col-3"
          *ngFor="let castMember of fullCast"
        >
          <div class="p-d-flex p-ai-center p-mb-3">
            <p-avatar
              [image]="
                castMember.profile_path
                  ? 'https://image.tmdb.org/t/p/w185' + castMember.profile_path
                  : 'assets/placeholder.png'
              "
              size="large"
              shape="circle"
              class="mr-3"
            ></p-avatar>
            <div>
              <div>
                <strong>{{ castMember.name }}</strong>
              </div>
              <div>{{ castMember.character }}</div>
            </div>
          </div>
        </div>
      </div>
    </p-dialog>
    <!-- Reviews Section -->
    <div class="reviews-section mt-4">
      <h2>Reviews</h2>
      <div class="reviews-list">
        <ng-container *ngFor="let review of reviews.slice(0, visibleReviews)">
          <p-panel [collapsed]="true" [toggleable]="true">
            <ng-template pTemplate="header">
              <div class="review-header">
                <p-avatar
                  *ngIf="getAvatarUrl(review.author_details.avatar_path)"
                  [image]="getAvatarUrl(review.author_details.avatar_path)"
                  size="large"
                  shape="circle"
                  class="mr-2"
                ></p-avatar>
                <p-avatar
                  *ngIf="!getAvatarUrl(review.author_details.avatar_path)"
                  [label]="getInitials(review.author)"
                  size="large"
                  shape="circle"
                  class="mr-2"
                ></p-avatar>
                <div class="author-details">
                  <strong class="review-author">{{ review.author }}</strong>
                  <span class="review-date">{{
                    review.created_at | date : "longDate"
                  }}</span>
                </div>
              </div>
            </ng-template>
            <div class="review-content">
              {{ getTruncatedContent(review.content, review.showFullContent) }}
              <a
                *ngIf="review.content.length > maxContentLength"
                (click)="toggleReviewContent(review); $event.stopPropagation()"
              >
                {{ review.showFullContent ? "Read less" : "Read more" }}
              </a>
            </div>
          </p-panel>
        </ng-container>
      </div>

      <!-- Show More/Show Less Buttons -->
      <div class="reviews-load-more">
        <button
          *ngIf="!reviewsExpanded && visibleReviews < reviews.length"
          pButton
          label="Show More Reviews"
          (click)="loadMoreReviews()"
          class="p-button-text"
        ></button>

        <button
          *ngIf="reviewsExpanded"
          pButton
          label="Show Less Reviews"
          (click)="showLessReviews()"
          class="p-button-text"
        ></button>
      </div>
    </div>

    <!-- Recommendations Section -->
    <div class="recommendations-section mt-4">
      <h2>Recommendations</h2>
      <p-carousel
        [value]="recommendations"
        [numVisible]="5"
        [numScroll]="1"
        [circular]="true"
        [showIndicators]="false"
        [showNavigators]="true"
        previousIcon="pi pi-angle-left"
        nextIcon="pi pi-angle-right"
        class="custom-carousel"
      >
        <ng-template pTemplate="item" let-movie>
          <div
            class="recommendation-card"
            [routerLink]="['/movie-info', movie.id]"
          >
            <div class="recommendation-image-container">
              <img
                pImage
                [src]="
                  movie.poster_path
                    ? 'https://image.tmdb.org/t/p/w185' + movie.poster_path
                    : 'assets/placeholder.png'
                "
                alt="{{ movie.title }}"
                class="recommendation-image"
              />
            </div>
            <div class="recommendation-details">
              <div class="recommendation-title" [title]="movie.title">
                {{ movie.title }}
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</p-card>
