/* Content Wrapper */
.content-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Movie Card */
.movie-card {
  padding: 0;
  background: none;
  border: none;
}

/* Movie Container */
.movie-container {
  position: relative;
  color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

/* Movie Content */
.movie-content {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}

/* Movie Poster Container */
.movie-poster-container {
  flex: 0 0 300px;
  max-width: 300px;
  margin-right: 2rem;
}

.movie-poster {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

/* Movie Info */
.movie-info {
  flex: 1;
}

/* Movie Title */
.movie-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* Movie Meta */
.movie-meta {
  font-weight: bold;
  color: #b0b0d0;
  margin-bottom: 1rem;
}

/* Movie Overview */
.movie-overview {
  font-size: 1.25rem;
  font-style: italic;
  margin-bottom: 0.5rem;
}

/* Movie Description */
.movie-description {
  margin-bottom: 3rem;
  line-height: 1.5;
}

/* User Score Section */
.user-score-section {
  margin-top: 1rem;
  font-size: 1.25rem;
}

/* Buttons */
.button-section button {
  margin-right: 0.5rem;
}

/* Custom Chip */
.custom-chip {
  color: #fff;
  font-weight: bold;
}

/* Financial Info */
.movie-financial-info h2 {
  margin-bottom: 1rem;
}

.movie-financial-info p {
  font-size: 1.1rem;
}

/* Actor Card */
.actor-card {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
  box-sizing: border-box;
  border-radius: 8px;
  overflow: hidden;
  flex-shrink: 0;
}

.actor-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Actor Image Container */
.actor-image-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.actor-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Actor Details */
.actor-details {
  padding: 0.5rem;
  text-align: center;
  width: 100%;
}

.actor-name,
.character-name {
  font-size: 0.9rem;
  font-family: "Roboto", sans-serif;
  margin: 0.2rem 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.actor-name {
  font-weight: bold;
}

/* Adjust Carousel Items */
.custom-carousel .p-carousel-item {
  display: flex;
  justify-content: center;
}

/* Reviews Section */
.reviews-section h2 {
  margin-bottom: 1rem;
}

.review-date {
  font-size: 0.9rem;
  color: #888;
  margin-top: 0.5rem;
}

/* Recommendations Section */
.recommendations-section h2 {
  margin-bottom: 1rem;
}

/* Recommendation Card */
.recommendation-card {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
  box-sizing: border-box;
  border-radius: 8px;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}

.recommendation-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Recommendation Image Container */
.recommendation-image-container {
  width: 100%;
  height: 225px;
  overflow: hidden;
}

.recommendation-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Recommendation Details */
.recommendation-details {
  padding: 0.5rem;
  text-align: center;
  width: 100%;
}

.recommendation-title {
  font-size: 0.9rem;
  font-family: "Roboto", sans-serif;
  margin: 0.2rem 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Responsive Adjustments */
@media screen and (max-width: 768px) {
  .content-wrapper {
    padding: 0 1rem;
  }

  .movie-content {
    flex-direction: column;
    align-items: center;
  }

  .movie-poster-container {
    margin-right: 0;
    margin-bottom: 2rem;
  }

  .movie-info {
    text-align: center;
  }
}
