<p-card
  class="movie-card"
  *ngIf="sharedService.movieOrTvDetails$ | async as movie"
>
  <div class="content-wrapper">
    <!-- Movie Header Section -->
    <div
      class="movie-container blurred-background"
      [ngStyle]="{
        'background-image':
          'linear-gradient(to left, rgba(0,0,0,0.7) 50%, ' +
          darkenedBlackBarsColor +
          ' 74%), url(https://image.tmdb.org/t/p/w1280' +
          movie.backdrop_path +
          ')',
        'background-size': 'cover',
        'background-position': 'center',
        'background-repeat': 'no-repeat',
        
      }"
    >
      <!-- Movie Poster and Main Info Section -->
      <div class="movie-content">
        <div class="movie-poster-container">
          <!-- Poster Image -->
          <img
            [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
            alt="Movie Poster"
            class="movie-poster"
          />
        </div>
        <div class="movie-info">
          <h1 class="movie-title mt-0">{{ movie.title ?? movie.name }}</h1>
          <p class="movie-meta">
            {{ movie.release_date ?? movie.first_air_date }} |
            <span *ngFor="let genre of movie.genres; let last = last">
              {{ genre.name }}<span *ngIf="!last">, </span>
            </span>
          </p>

          <!-- Conditionally render TV-specific details -->
          <ng-container *ngIf="mediaType === 'tv'">
            <p>
              <strong>Creator: {{ directorName }}</strong>
            </p>
            <p><strong>Seasons:</strong> {{ movie.number_of_seasons }}</p>
            <p><strong>Episodes:</strong> {{ movie.number_of_episodes }}</p>
            <p>
              <strong>Status:</strong> {{ movie.status }}
              <!-- Ongoing, Ended, etc. -->
            </p>
            <p><strong>First Aired:</strong> {{ movie.first_air_date }}</p>
            <p *ngIf="movie.last_episode_to_air">
              <strong>Last Episode Aired:</strong>
              {{ movie.last_episode_to_air.air_date }}
            </p>
          </ng-container>

          <!-- Conditionally render Movie-specific details -->
          <ng-container *ngIf="mediaType === 'movie'">
            <p *ngIf="directorName">
              <strong>Director:</strong> {{ directorName }}
            </p>
            <p><strong>Runtime:</strong> {{ movie.runtime }} minutes</p>
          </ng-container>

          <!-- Movie/TV Overview -->
          <p class="movie-overview">{{ movie.tagline }}</p>
          <p class="movie-description">{{ movie.overview }}</p>

          <!-- User Score Section -->
          <div class="user-score-section mt-4">
            <div class="user-score-container flex items-center">
              <span class="score-label mr-2">User Score</span>
              <p-chip
                label="{{ getVotePercentage(movie.vote_average ?? 0) + '%' }}"
                class="custom-chip"
                styleClass="p-chip-lg flex items-center justify-center"
              ></p-chip>
            </div>
          </div>

          <!-- Buttons -->
          <div class="button-section mt-4">
            <button
              pButton
              label="Play Trailer"
              icon="pi pi-play"
              class="p-button-primary"
            ></button>
            <button
              pButton
              label="Add to Favorites"
              icon="pi pi-heart"
              class="p-button-outlined ml-2"
            ></button>
          </div>
        </div>
      </div>
    </div>

    <!-- Movie Financial Info (Only for movies) -->
    <ng-container *ngIf="mediaType === 'movie'">
      <div class="movie-financial-info mt-6">
        <div class="grid grid-cols-12 gap-4 align-center justify-center financial-container">
          <div class="col-span-6 text-center">
            <p-card class="financial-card">
              <p>
                <i
                  class="pi pi-dollar"
                  style="font-size: 2rem; color: #2196f3"
                ></i>
              </p>
              <p><strong>Budget:</strong></p>
              <p>{{ formatNumber(movie.budget ?? 0) }}</p>
            </p-card>
          </div>
          <div class="col-span-6 text-center">
            <p-card class="financial-card">
              <p>
                <i
                  class="pi pi-chart-line"
                  style="font-size: 2rem; color: #4caf50"
                ></i>
              </p>
              <p><strong>Revenue:</strong></p>
              <p>{{ formatNumber(movie.revenue ?? 0) }}</p>
            </p-card>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- Actors Section -->
    <h2 class="mt-6">Cast</h2>
    <div class="carousel-container">
      <p-carousel
        [value]="actors"
        [numVisible]="7"
        [numScroll]="1"
        [circular]="true"
        class="custom-carousel"
        [responsiveOptions]="[]"
        [showIndicators]="false"
        [showNavigators]="true"
        previousIcon="pi pi-angle-left"
        nextIcon="pi pi-angle-right"
      >
        <ng-template pTemplate="item" let-actor>
          <div class="actor-card">
            <div class="actor-image-container">
              <img
                pImage
                [src]="
                  actor.profile_path
                    ? 'https://image.tmdb.org/t/p/w185' + actor.profile_path
                    : 'assets/placeholder.png'
                "
                alt="{{ actor.name }}"
                class="actor-image"
              />
            </div>
            <div class="actor-details">
              <div class="actor-name" [title]="actor.name">
                {{ actor.name }}
              </div>
              <div class="character-name" [title]="actor.character">
                {{ actor.character }}
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
    <div class="mt-4 text-center">
      <button
        pButton
        label="Get Full Cast"
        icon="pi pi-users"
        class="p-button-outlined"
        (click)="showFullCastDialog()"
      ></button>
    </div>

    <!-- Full Cast Dialog -->
    <p-dialog
      header="Full Cast"
      [(visible)]="isFullCastDialogVisible"
      [modal]="true"
      [style]="{ width: '75vw' }"
      [closable]="true"
      [dismissableMask]="true"
    >
      <div class="grid grid-cols-12 gap-4">
        <div
          class="col-span-12 sm:col-span-6 md:col-span-4 lg:col-span-3"
          *ngFor="let castMember of fullCast"
        >
          <div class="p-d-flex p-ai-center p-mb-3">
            <p-avatar
              [image]="
                castMember.profile_path
                  ? 'https://image.tmdb.org/t/p/w185' + castMember.profile_path
                  : 'assets/placeholder.png'
              "
              size="large"
              shape="circle"
              class="mr-4"
            ></p-avatar>
            <div>
              <div>
                <strong>{{ castMember.name }}</strong>
              </div>
              <div>{{ castMember.character }}</div>
            </div>
          </div>
        </div>
      </div>
    </p-dialog>

    <!-- Reviews Section -->
    <div class="reviews-section mt-6">
      <h2>Reviews</h2>
      <div class="reviews-list">
        <ng-container *ngFor="let review of reviews.slice(0, visibleReviews)">
          <p-panel [collapsed]="true" [toggleable]="true">
            <ng-template pTemplate="header">
              <div class="review-header">
                <p-avatar
                  *ngIf="getAvatarUrl(review.author_details.avatar_path)"
                  [image]="getAvatarUrl(review.author_details.avatar_path)"
                  size="large"
                  shape="circle"
                  class="mr-2"
                ></p-avatar>
                <p-avatar
                  *ngIf="!getAvatarUrl(review.author_details.avatar_path)"
                  [label]="getInitials(review.author)"
                  size="large"
                  shape="circle"
                  class="mr-2"
                ></p-avatar>
                <div class="author-details">
                  <strong class="review-author">{{ review.author }}</strong>
                  <span class="review-date">{{
                    review.created_at | date : "longDate"
                  }}</span>
                </div>
              </div>
            </ng-template>
            <div class="review-content">
              {{ getTruncatedContent(review.content, review.showFullContent) }}
              <a
                *ngIf="review.content.length > maxContentLength"
                (click)="toggleReviewContent(review); $event.stopPropagation()"
              >
                {{ review.showFullContent ? "Read less" : "Read more" }}
              </a>
            </div>
          </p-panel>
        </ng-container>
      </div>

      <!-- Show More/Show Less Buttons -->
      <div class="reviews-load-more">
        <button
          *ngIf="!reviewsExpanded && visibleReviews < reviews.length"
          pButton
          label="Show More Reviews"
          (click)="loadMoreReviews()"
          class="p-button-text"
        ></button>
        <button
          *ngIf="reviewsExpanded"
          pButton
          label="Show Less Reviews"
          (click)="showLessReviews()"
          class="p-button-text"
        ></button>
      </div>
    </div>

    <!-- Recommendations Section -->
    <div class="recommendations-section mt-6">
      <h2>Recommendations</h2>
      <p-carousel
        [value]="recommendations"
        [numVisible]="5"
        [numScroll]="1"
        [circular]="true"
        [showIndicators]="false"
        [showNavigators]="true"
        previousIcon="pi pi-angle-left"
        nextIcon="pi pi-angle-right"
        class="custom-carousel"
      >
        <ng-template pTemplate="item" let-movie>
          <div
            class="recommendation-card"
            [routerLink]="['/movie-info', mediaType, movie.id]"
          >
            <div class="recommendation-image-container">
              <img
                pImage
                [src]="
                  movie.poster_path
                    ? 'https://image.tmdb.org/t/p/w185' + movie.poster_path
                    : 'assets/placeholder.png'
                "
                alt="{{ movie.title }}"
                class="recommendation-image"
              />
            </div>
            <div class="recommendation-details">
              <div class="recommendation-title" [title]="movie.title">
                {{ movie.title }}
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</p-card>
