<p-card class="bg-transparent border-0 shadow-none">
  <div class="flex flex-col items-center p-6 space-y-4">
    <p class="text-sm">© {{ currentYear }} TicketBuddy</p>
    <div class="flex space-x-4">
      <a
        pButton
        type="button"
        icon="pi pi-twitter"
        class="p-button-rounded p-button-text text-blue-500 hover:text-blue-400"
        aria-label="Twitter"
        href="https://twitter.com"
        target="_blank"
      ></a>
      <a
        pButton
        type="button"
        icon="pi pi-facebook"
        class="p-button-rounded p-button-text text-blue-600 hover:text-blue-500"
        aria-label="Facebook"
        href="https://facebook.com"
        target="_blank"
      ></a>
      <a
        pButton
        type="button"
        icon="pi pi-linkedin"
        class="p-button-rounded p-button-text text-blue-700 hover:text-blue-600"
        aria-label="LinkedIn"
        href="https://linkedin.com"
        target="_blank"
      ></a>
    </div>
  </div>
</p-card>
