<div class="footer-container mt-3">
  <p-card>
    <div class="footer-content text-center">
      <p>© 2024 Your Company Name</p>
      <div class="footer-links">
        <a
          pButton
          type="button"
          icon="pi pi-twitter"
          label="Twitter"
          class="p-button-rounded p-button-text"
          href="https://twitter.com"
          target="_blank"
        ></a>
        <a
          pButton
          type="button"
          icon="pi pi-facebook"
          label="Facebook"
          class="p-button-rounded p-button-text"
          href="https://facebook.com"
          target="_blank"
        ></a>
        <a
          pButton
          type="button"
          icon="pi pi-linkedin"
          label="LinkedIn"
          class="p-button-rounded p-button-text"
          href="https://linkedin.com"
          target="_blank"
        ></a>
      </div>
    </div>
  </p-card>
</div>
