<p-card
  *ngIf="sharedService.movieOrTvDetails$ | async as movie"
  class="bg-gray-800 text-white shadow-2xl rounded-2xl overflow-hidden"
>
  <div class="mx-auto max-w-7xl px-4 py-8">
    <!-- Movie Header Section -->
    <div class="relative overflow-hidden rounded-lg">
      <div
        class="absolute inset-0 bg-cover bg-center bg-no-repeat filter blur-sm"
        [ngStyle]="{
          'background-image':
            'linear-gradient(to left, rgba(0,0,0,0.7) 50%, ' +
            darkenedBlackBarsColor +
            ' 74%), url(https://image.tmdb.org/t/p/w1280' +
            movie.backdrop_path +
            ')'
        }"
      ></div>
      <div class="relative z-10 flex flex-col md:flex-row p-8">
        <!-- Poster -->
        <div class="w-full md:w-[300px] flex-shrink-0 mb-6 md:mb-0 md:mr-8">
          <img
            [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
            alt="Movie Poster"
            class="w-full rounded-lg object-cover"
          />
        </div>
        <!-- Info -->
        <div class="flex-1 text-white">
          <h1 class="text-[2.5rem] font-bold mb-2">
            {{ movie.title ?? movie.name }}
          </h1>
          <p class="font-bold text-gray-400 mb-4">
            {{ movie.release_date ?? movie.first_air_date }} |
            <span *ngFor="let genre of movie.genres; let last = last">
              {{ genre.name }}<span *ngIf="!last">, </span>
            </span>
          </p>

          <!-- TV Details -->
          <ng-container *ngIf="mediaType === 'tv'">
            <p class="text-white mb-1">
              <strong>Creator:</strong> {{ directorName }}
            </p>
            <p class="text-white mb-1">
              <strong>Seasons:</strong> {{ movie.number_of_seasons }}
            </p>
            <p class="text-white mb-1">
              <strong>Episodes:</strong> {{ movie.number_of_episodes }}
            </p>
            <p class="text-white mb-1">
              <strong>Status:</strong> {{ movie.status }}
            </p>
            <p class="text-white mb-1">
              <strong>First Aired:</strong> {{ movie.first_air_date }}
            </p>
            <p *ngIf="movie.last_episode_to_air" class="text-white mb-1">
              <strong>Last Episode Aired:</strong>
              {{ movie.last_episode_to_air.air_date }}
            </p>
          </ng-container>

          <!-- Movie Details -->
          <ng-container *ngIf="mediaType === 'movie'">
            <p *ngIf="directorName" class="text-white mb-1">
              <strong>Director:</strong> {{ directorName }}
            </p>
            <p class="text-white mb-1">
              <strong>Runtime:</strong> {{ movie.runtime }} minutes
            </p>
          </ng-container>

          <!-- Tagline & Overview -->
          <p class="italic text-xl mb-2 text-white">{{ movie.tagline }}</p>
          <p class="text-base leading-relaxed mb-6 text-white">
            {{ movie.overview }}
          </p>

          <!-- User Score -->
          <div class="mt-4">
            <div class="flex items-center text-xl text-white">
              <span class="mr-2">User Score</span>
              <p-chip
                label="{{ getVotePercentage(movie.vote_average ?? 0) + '%' }}"
                styleClass="p-chip-lg flex items-center justify-center bg-blue-500 text-white"
              ></p-chip>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Movie Financial Info (Only for movies) -->
    <ng-container *ngIf="mediaType === 'movie'">
      <div class="grid grid-cols-2 mb-8">
        <p-card
          class="text-gray-200 shadow rounded-lg p-4 flex items-center space-x-3"
        >
          <i class="pi pi-dollar text-2xl text-green-400"></i>
          <div>
            <div class="font-semibold">Budget</div>
            <div>{{ formatNumber(movie.budget ?? 0) }}</div>
          </div>
        </p-card>
        <p-card
          class="text-gray-200 shadow rounded-lg p-4 flex items-center space-x-3"
        >
          <i class="pi pi-chart-line text-2xl text-blue-400"></i>
          <div>
            <div class="font-semibold">Revenue</div>
            <div>{{ formatNumber(movie.revenue ?? 0) }}</div>
          </div>
        </p-card>
      </div>
    </ng-container>

    <!-- Cast Section -->
    <h2 class="text-2xl font-semibold mb-4">Cast</h2>
    <p-carousel
      [value]="actors"
      [numVisible]="7"
      [circular]="true"
      class="mb-4"
    >
      <ng-template pTemplate="item" let-actor>
        <div class="w-32 flex-shrink-0 text-center">
          <img
            [src]="
              actor.profile_path
                ? 'https://image.tmdb.org/t/p/w185' + actor.profile_path
                : 'assets/placeholder.png'
            "
            alt="{{ actor.name }}"
            class="w-full h-40 object-cover rounded-lg mb-2"
          />
          <div class="text-sm font-semibold truncate" [title]="actor.name">
            {{ actor.name }}
          </div>
          <div class="text-xs text-400 truncate" [title]="actor.character">
            {{ actor.character }}
          </div>
        </div>
      </ng-template>
    </p-carousel>
    <div class="text-center mb-8">
      <button
        pButton
        label="Get Full Cast"
        icon="pi pi-users"
        styleClass="p-button-outlined border-gray-200 text-gray-200 hover:bg-gray-200 hover:text-gray-900"
        (click)="showFullCastDialog()"
      ></button>
    </div>

    <!-- Full Cast Dialog -->
    <p-dialog
      header="Full Cast"
      [(visible)]="isFullCastDialogVisible"
      [modal]="true"
      [style]="{ width: '75vw' }"
      [closable]="true"
      [dismissableMask]="true"
    >
      <div
        class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-4 p-4"
      >
        <ng-container *ngFor="let castMember of fullCast">
          <div class="flex flex-col items-center text-center">
            <p-avatar
              [image]="
                castMember.profile_path
                  ? 'https://image.tmdb.org/t/p/w185' + castMember.profile_path
                  : 'assets/placeholder.png'
              "
              size="large"
              shape="circle"
              class="mb-2"
            ></p-avatar>
            <div class="font-semibold truncate" [title]="castMember.name">
              {{ castMember.name }}
            </div>
            <div
              class="text-sm text-gray-400 truncate"
              [title]="castMember.character"
            >
              {{ castMember.character }}
            </div>
          </div>
        </ng-container>
      </div>
    </p-dialog>

    <!-- Reviews Section -->
    <h2 class="text-2xl font-semibold mb-4">Reviews</h2>
    <div class="space-y-4 mb-8">
      <ng-container *ngFor="let review of reviews.slice(0, visibleReviews)">
        <p-panel [toggleable]="true" [collapsed]="true">
          <ng-template pTemplate="header">
            <div class="flex items-center space-x-3">
              <p-avatar
                *ngIf="getAvatarUrl(review.author_details.avatar_path)"
                [image]="getAvatarUrl(review.author_details.avatar_path)"
                shape="circle"
              ></p-avatar>
              <p-avatar
                *ngIf="!getAvatarUrl(review.author_details.avatar_path)"
                [label]="getInitials(review.author)"
                shape="circle"
              ></p-avatar>
              <div>
                <div class="font-semibold">{{ review.author }}</div>
                <div class="text-sm">
                  {{ review.created_at | date : "longDate" }}
                </div>
              </div>
            </div>
          </ng-template>
          <div class="mt-2 leading-relaxed text-200">
            {{ getTruncatedContent(review.content, review.showFullContent) }}
            <a
              *ngIf="review.content.length > maxContentLength"
              (click)="toggleReviewContent(review); $event.stopPropagation()"
              class="text-blue-500 hover:underline ml-1"
              >{{ review.showFullContent ? "Read less" : "Read more" }}</a
            >
          </div>
        </p-panel>
      </ng-container>
      <div class="text-center">
        <button
          *ngIf="!reviewsExpanded && visibleReviews < reviews.length"
          pButton
          label="Show More Reviews"
          class="p-button-text text-gray-200"
          (click)="loadMoreReviews()"
        ></button>
        <button
          *ngIf="reviewsExpanded"
          pButton
          label="Show Less Reviews"
          class="p-button-text text-gray-200"
          (click)="showLessReviews()"
        ></button>
      </div>
    </div>

    <!-- Recommendations Section -->
    <h2 class="text-2xl font-semibold mb-4">Recommendations</h2>
    <p-carousel [value]="recommendations" [numVisible]="5" [circular]="true">
      <ng-template pTemplate="item" let-rec>
        <div
          class="w-32 flex-shrink-0 text-center cursor-pointer"
          [routerLink]="['/movie-info', mediaType, rec.id]"
        >
          <img
            [src]="
              rec.poster_path
                ? 'https://image.tmdb.org/t/p/w185' + rec.poster_path
                : 'assets/placeholder.png'
            "
            alt="{{ rec.title }}"
            class="w-full h-48 object-cover rounded-lg mb-2"
          />
          <div class="text-sm font-medium truncate">
            {{ rec.title }}
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</p-card>
