<div
  class="cinema-container flex flex-column align-items-center justify-content-center gap-4"
>
  <div>
    <div
      class="screen flex align-items-center justify-content-center bg-gray-300 border-round py-2 w-full mb-6"
    >
      <span>Screen</span>
    </div>

    <div class="seat-map flex flex-column gap-3">
      <ng-container *ngFor="let row of seatRows; let rowIndex = index">
        <div class="row flex align-items-center gap-2">
          <span class="row-label font-bold">{{ getRowLabel(rowIndex) }}</span>
          <div class="seat-row flex gap-2">
            <ng-container *ngFor="let seat of row; let seatIndex = index">
              <ng-container *ngIf="seat; else stairsPlaceholder">
                <img
                  [src]="'cinemaseat.png'"
                  [alt]="seat.label"
                  class="cinema-seat-icon"
                  [ngClass]="{
                    available: !seat.reserved && !seat.vip && !seat.wheelchair,
                    reserved: seat.reserved,
                    vip: seat.vip,
                    wheelchair: seat.wheelchair,
                    selected: selectedSeats.includes(seat)
                  }"
                  (click)="toggleSeatSelection(seat)"
                />
              </ng-container>
              <ng-template #stairsPlaceholder>
                <img src="stairs.png" alt="Stairs" class="stairs-icon" />
              </ng-template>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="seat-legend flex flex-column align-items-start gap-2">
    <h4>Legend</h4>
    <div class="legend-item flex align-items-center gap-2">
      <img src="cinemaseat.png" alt="Available" class="legend-icon available" />
      <span>Available</span>
    </div>
    <div class="legend-item flex align-items-center gap-2">
      <img src="cinemaseat.png" alt="Reserved" class="legend-icon reserved" />
      <span>Reserved</span>
    </div>
    <div class="legend-item flex align-items-center gap-2">
      <img src="cinemaseat.png" alt="VIP" class="legend-icon vip" />
      <span>VIP</span>
    </div>
    <div class="legend-item flex align-items-center gap-2">
      <img
        src="cinemaseat.png"
        alt="Wheelchair"
        class="legend-icon wheelchair"
      />
      <span>Wheelchair</span>
    </div>
    <div class="legend-item flex align-items-center gap-2">
      <img src="stairs.png" alt="Stairs" class="legend-icon stairs white" />
      <span>Stairs</span>
    </div>
  </div>
</div>
