<div
  class="cinema-container flex flex-row items-start justify-center gap-12"
>
  <!-- Seat Map and Screen -->
  <div class="cinema-map flex flex-col items-center gap-6">
    <!-- Screen -->
    <div
      class="screen flex items-center justify-center bg-gray-300 rounded-border py-2 w-full mb-12"
    >
      <span>Screen</span>
    </div>

    <!-- Seat Map -->
    <div class="seat-map flex flex-col items-center gap-4">
      <ng-container *ngFor="let row of seatRows; let rowIndex = index">
        <div class="row flex items-center gap-2">
          <span class="row-label font-bold">{{ getRowLabel(rowIndex) }}</span>
          <div class="seat-row flex justify-center gap-2">
            <ng-container *ngFor="let seat of row; let seatIndex = index">
              <ng-container *ngIf="seat; else emptySpacePlaceholder">
                <img
                  [src]="
                    seat.reserved
                      ? 'cinema-occupied.svg'
                      : selectedSeats.includes(seat)
                      ? 'cinema-selected.svg'
                      : 'cinema-available.svg'
                  "
                  [alt]="seat.label"
                  class="cinema-seat-icon"
                  [class.reserved]="seat.reserved"
                  [class.selected]="selectedSeats.includes(seat)"
                  (click)="!seat.reserved && toggleSeatSelection(seat)"
                />
              </ng-container>
              <ng-template #emptySpacePlaceholder>
                <div class="empty-space"></div>
              </ng-template>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <!-- Legend -->
  <div class="seat-legend flex flex-col items-start gap-6">
    <h4>Legend</h4>
    <div class="legend-item flex items-center gap-2">
      <img src="cinema-available.svg" alt="Available" class="legend-icon" />
      <span>Available</span>
    </div>
    <div class="legend-item flex items-center gap-2">
      <img src="cinema-occupied.svg" alt="Reserved" class="legend-icon" />
      <span>Taken</span>
    </div>
    <div class="legend-item flex items-center gap-2">
      <img src="cinema-selected.svg" alt="Selected" class="legend-icon" />
      <span>Selected</span>
    </div>
  </div>
</div>
