/* General Seat Icon */
.cinema-seat-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform 0.2s;
}

.cinema-seat-icon:hover {
  transform: scale(1.2); /* Applies to non-reserved seats */
}

/* Reserved Seat */
.cinema-seat-icon.reserved {
  cursor: not-allowed; /* Display the blocked cursor */
}

.cinema-seat-icon.reserved:hover {
  transform: none; /* Explicitly block hover scaling */
}

.empty-space {
  width: 40px;
  height: 40px;
  display: block;
}

.screen {
  max-width: 1000px;
  height: 20px;
  background-color: #aaaaaa; /* Light Gray */
  border-radius: 10px;
  margin: 10px auto;
}

/* Row and Seat Map Alignment */
.seat-map {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.seat-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.row-label {
  width: 30px;
  text-align: center;
}

/* Legend Styling */
.seat-legend {
  width: 150px;
}

.legend-icon {
  width: 30px;
  height: 30px;
  transition: transform 0.2s;
}

.legend-icon:hover {
  transform: scale(1.2);
}
