<div class="card mb-4" [style]="{ maxWidth: '100%' }">
  <p-menubar [model]="items">
    <ng-template pTemplate="start">
      <img src="cinema-logo.png" width="70px" alt="Cinema Logo" />
    </ng-template>
    <ng-template pTemplate="item" let-item let-root="root">
      <a
        pRipple
        class="flex align-items-center p-menuitem-link"
        [routerLink]="item.routerLink || []"
        *ngIf="!item.separator"
      >
        <span [class]="item.icon"></span>
        <span class="ml-2">{{ item.label }}</span>
        <p-badge
          *ngIf="item.badge"
          [ngClass]="{ 'ml-auto': !root, 'ml-2': root }"
          [value]="item.badge"
        ></p-badge>
        <span
          *ngIf="item.shortcut"
          class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1"
        >
          {{ item.shortcut }}
        </span>
        <i
          *ngIf="item.items"
          [ngClass]="[
            'pi',
            root ? 'pi-angle-down ml-2' : 'pi-angle-right ml-auto'
          ]"
        ></i>
      </a>
    </ng-template>
    <ng-template pTemplate="end">
      <div class="flex align-items-center gap-2">
        <input
          type="text"
          pInputText
          placeholder="Search"
          class="search-input"
          [(ngModel)]="searchTerm"
          (focus)="onSearchFocus()"
          (input)="onSearchChange($event)"
        />
        <p-avatar
          icon="pi pi-user"
          styleClass="mr-2 size-large transition-duration-150 transform-scale-100 hover:transform-scale-105"
          size="large"
          pTooltip="Click to open menu"
          tooltipPosition="bottom"
          (click)="op.toggle($event)"
        ></p-avatar>
        <p-overlayPanel #op>
          <ng-container *ngIf="isLoggedIn; else loginTemplate">
            <p-tieredMenu #menu [model]="loggedInItems"></p-tieredMenu>
          </ng-container>
          <ng-template #loginTemplate>
            <div class="card">
              <div class="flex flex-column md:flex-row">
                <div
                  class="w-full md:w-5 flex flex-column align-items-center justify-content-center gap-3 py-5"
                >
                  <div
                    class="flex flex-wrap justify-content-center align-items-center gap-2"
                  >
                    <label class="w-6rem">Username</label>
                    <input
                      pInputText
                      id="username"
                      type="text"
                      class="w-14rem"
                    />
                  </div>
                  <div
                    class="flex flex-wrap justify-content-center align-items-center gap-2"
                  >
                    <label class="w-6rem">Password</label>
                    <input
                      pInputText
                      id="password"
                      type="password"
                      class="w-14rem"
                    />
                  </div>
                  <p-button
                    label="Login"
                    icon="pi pi-user"
                    styleClass="w-10rem mx-auto"
                  />
                </div>
                <div class="w-full md:w-2">
                  <p-divider layout="vertical" styleClass="hidden md:flex">
                    <b>OR</b>
                  </p-divider>
                  <p-divider
                    layout="horizontal"
                    styleClass="flex md:hidden"
                    [align]="'center'"
                  >
                    <b>OR</b>
                  </p-divider>
                </div>
                <div
                  class="w-full md:w-5 flex align-items-center justify-content-center py-5"
                >
                  <p-button
                    (onClick)="showSignUpForm()"
                    label="Sign Up"
                    icon="pi pi-user-plus"
                    styleClass="p-button-success w-10rem"
                  />
                </div>
              </div>
            </div>
          </ng-template>
        </p-overlayPanel>
      </div>
    </ng-template>
  </p-menubar>

  <!-- Expanded search bar with additional content -->
  <p-dialog
    [(visible)]="isSearchActive"
    [modal]="true"
    [closable]="true"
    [draggable]="false"
    [resizable]="false"
    [contentStyle]="{
      background: 'transparent',
      'overflow-y': 'scroll',
      'scrollbar-width': 'none',
      '-ms-overflow-style': 'none'
    }"
    [style]="{
      position: 'fixed',
      top: '10%',
      left: '0',
      right: '0',
      border: 'none',
      boxShadow: 'none',
      background: 'transparent'
    }"
    [appendTo]="'body'"
    [baseZIndex]="1002"
    [closeOnEscape]="true"
    [dismissableMask]="true"
    showHeader="false"
    [blockScroll]="true"
    focusOnShow="true"
    [transitionOptions]="'150ms cubic-bezier(0, 0, 0.2, 1)'"
  >
    <div class="flex flex-wrap justify-content-center">
      <input
        type="text"
        pInputText
        placeholder="Search for movies, shows, etc..."
        class="search-input w-7 border-round-3xl relative"
        [(ngModel)]="searchTerm"
        (input)="onSearchChange($event)"
      />
      <p-button
        label="Back to Home"
        class="back-home-btn fixed"
        (click)="onSearchBlur()"
      >
      </p-button>
      <div *ngFor="let movie of movies" class="w-9 mb-2">
        <app-search-card
          [movie]="movie"
          [movieGenres]="movieGenres"
          [tvGenres]="tvGenres"
        ></app-search-card>
      </div>
    </div>
  </p-dialog>

  <p-dialog
    header="Sign up"
    [(visible)]="visible"
    [modal]="true"
    [closable]="true"
    [style]="{ width: '50vw', opacity: 0 }"
  >
    <app-signup></app-signup>
  </p-dialog>

  <div
    *ngIf="isSearchActive"
    class="blur-overlay"
    (click)="onSearchBlur()"
  ></div>
</div>
